/*desktops */
@media only screen 
and (min-width : 1224px) {
	.leftFix{
		position: fixed;
		top: 150px;
		left: 50px;
		}
}

/*less than desktops */
@media only screen 
and (max-width : 1223px) {
	.leftFix{
		position: relative;
		}
}

