.siteInfo{
	text-align: center;
}

.aboutText{
	font-size: 18px;
	text-align: center;
		
}

.quickGamesList{
	color:black;
	margin: 0 auto;
	position: relative;
	text-align: center;
	font-weight: bold;

}